* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Biryani", sans-serif;
  color: #2c3233;

  background-color: #fef8ef;
  height: 100vh;

  font-size: 1.6rem;
}

header {
  background-color: #eddec5;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 2rem;
  height: 12rem;
}

main {
  padding: 6rem;
  background-color: #fff4ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SPINNER */
.spinner::before {
  content: "\25CC";
  color: #f55003;
}
.spinner {
  font-style: normal;
  font-size: 5rem;
  animation: rotation 5s infinite linear;
  margin: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.wrapper {
  height: 250px;
  width: 250px;
  margin: auto;
  display: flex;
}

/* APP PAGE */

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 50rem;
  min-width: 50rem;
}

.logo {
  width: 12%;
}

.quiz-box {
  padding: 4rem;
  background-color: #efbd0950;
  border-radius: 9px;
}

.question {
  padding: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: start;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.option,
.option:link,
.option:active {
  background-color: #0958ec73;
  border: none;
  border-radius: 6px;
  padding: 1rem 2rem;
  text-align: start;
  font-size: inherit;
  cursor: pointer;
}

.option:hover {
  background-color: #f55003a1;
  transition: all 0.2s ease;
}

.last-score-box {
  background-color: #eddec5;
  text-align: center;
  font-size: 1.4rem;
  width: 50%;
  padding: 1rem 0;
  border-radius: 6px;
}

/* RESULTS PAGE */

.results-page {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
}

.results {
  padding: 6rem;
  border-radius: 9px;
  background-color: #eddec5;
}

.score {
  font-weight: 700;
}

.questions_list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.again {
  max-width: 30rem;
  min-width: 14rem;
  align-self: center;
  background-color: #eddec5;
  border: none;
  border-radius: 6px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
}

.answer {
  display: inline;
  padding: 1.2rem;
  border-radius: 5px;
}

.answer--wrong {
  background-color: #f5500373;
  margin-right: 2rem;
}

.answer--correct {
  background-color: #0958ec73;
}

.hidden {
  display: none;
}
